html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}
body{
  margin: 0.5em;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.label {
  display: inline-block;
  width: 60px;
  margin: 0.25em 0 0 0.25em;
}

.demo {
  background: #ddd;
  margin: 0.25em 0 0 0.25em;
  /*width: 60px;*/
}
