[submodule "io-value"]
	path = src/io-value
	url = https://github.com/arodic/io-value.git
[submodule "io-tooltip"]
	path = src/io-tooltip
	url = https://github.com/arodic/io-tooltip.git
[submodule "io-inspector"]
	path = src/io-inspector
	url = https://github.com/arodic/io-inspector.git
[submodule "io-menu"]
	path = src/io-menu
	url = https://github.com/arodic/io-menu.git
[submodule "io-options"]
	path = src/io-options
	url = https://github.com/arodic/io-options.git
[submodule "io-help"]
	path = src/io-help
	url = https://github.com/arodic/io-help.git
[submodule "three-viewport"]
	path = src/three-viewport
	url = https://github.com/arodic/three-viewport.git
[submodule "three-renderer"]
	path = src/three-renderer
	url = https://github.com/arodic/three-renderer.git
[submodule "three-js"]
	path = src/three-js
	url = https://github.com/arodic/three-js.git
[submodule "src/io-boolean"]
	path = src/io-boolean
	url = https://github.com/arodic/io-boolean.git
[submodule "src/io-input"]
	path = src/io-input
	url = https://github.com/arodic/io-input.git
[submodule "src/io-object"]
	path = src/io-object
	url = https://github.com/arodic/io-object.git
[submodule "src/io-object-to-array"]
	path = src/io-object-to-array
	url = https://github.com/arodic/io-object-to-array.git
[submodule "src/io-styles"]
	path = src/io-styles
	url = https://github.com/arodic/io-styles.git
[submodule "src/io-vectors"]
	path = src/io-vectors
	url = https://github.com/arodic/io-vectors.git
[submodule "src/io-slider"]
	path = src/io-slider
	url = https://github.com/arodic/io-slider.git
[submodule "src/three-renderer"]
	path = src/three-renderer
	url = https://github.com/arodic/three-renderer.git
[submodule "src/three-editor"]
	path = src/three-editor
	url = https://github.com/arodic/three-editor.git
