[submodule "components/three-viewport"]
	path = components/three-viewport
	url = https://github.com/arodic/three-viewport.git
[submodule "components/three-js"]
	path = components/three-js
	url = https://github.com/arodic/three-js.git
[submodule "components/three-renderer"]
	path = components/three-renderer
	url = https://github.com/arodic/three-renderer.git
[submodule "components/io-boolean"]
	path = components/io-boolean
	url = https://github.com/arodic/io-boolean.git
[submodule "components/io-help"]
	path = components/io-help
	url = https://github.com/arodic/io-help.git
[submodule "components/io-input"]
	path = components/io-input
	url = https://github.com/arodic/io-input.git
[submodule "components/io-inspector"]
	path = components/io-inspector
	url = https://github.com/arodic/io-inspector.git
[submodule "components/io-menu"]
	path = components/io-menu
	url = https://github.com/arodic/io-menu.git
[submodule "components/io-object"]
	path = components/io-object
	url = https://github.com/arodic/io-object.git
[submodule "components/io-object-to-array"]
	path = components/io-object-to-array
	url = https://github.com/arodic/io-object-to-array.git
[submodule "components/io-options"]
	path = components/io-options
	url = https://github.com/arodic/io-options.git
[submodule "components/io-slider"]
	path = components/io-slider
	url = https://github.com/arodic/io-slider.git
[submodule "components/io-styles"]
	path = components/io-styles
	url = https://github.com/arodic/io-styles.git
[submodule "components/io-tooltip"]
	path = components/io-tooltip
	url = https://github.com/arodic/io-tooltip.git
[submodule "components/io-value"]
	path = components/io-value
	url = https://github.com/arodic/io-value.git
[submodule "components/io-vector"]
	path = components/io-vector
	url = https://github.com/arodic/io-vector.git
[submodule "components/three.js"]
	path = components/three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "components/carbon.js"]
	path = components/carbon.js
	url = https://github.com/arodic/carbon.js.git
