'scopeName': 'source.js'
'fileTypes': [
  'js'
]
'name': 'JavaScript'
'repository':
  'strings':
    'patterns': [
      {
        'begin': '((\\w+)?(css|CSS|Css))\\s*(`)'
        'beginCaptures':
          '1':
            'name': 'entity.name.function.js'
          '4':
            'name': 'punctuation.definition.string.begin.js'
        'end': '`'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.js'
        'name': 'string.quoted.template.css.js'
        'patterns': [
          {
            'include': 'source.css'
          }
        ]
      }
    ]
